doctype html
html
  include ../structure/head.pug
  body
    include ../structure/header.pug
    .container
      .column
        .label Prénom :
        p.is-size-4 #{user.firstname}
        .label Nom :
        p.is-size-4 #{user.lastname}
        .label Nom d'utilisateur :
        p.is-size-4 #{user.username}
        .label Mot de Passe :
        p.is-size-4 #{user.password}
        .label E-mail :
        p.is-size-4 #{user.email}
        .label Crée le :
        p.is-size-4 #{user.created_at}
        .label Mis à jour le :
        p.is-size-4 #{user.update_at}
    section.section
      .container.has-text-centered
        .field.is-grouped
          .control
            a(href='/users/'+user.id+'/services').button.is-info Services de #{user.username}
          .control.is-expanded
            a(href='/users/'+user.id+'/demands').button.is-info Demandes de #{user.username}
footer
    include ../structure/footer.pug 